image: Visual Studio 2019
before_build:
  - ps: .\appveyor-set_version.ps1
  - cmd: .\appveyor-before_build.cmd
build:
  verbosity: minimal
before_package:
  - ps: cd $env:APPVEYOR_BUILD_FOLDER
  - ps: .\appveyor-before_package.ps1
deploy:
  - provider: Environment
    name: AV Test Releases
    on:
      APPVEYOR_REPO_TAG: true