version: {build}
image: Visual Studio 2019
before_build:
- cmd: appveyor-before_build.cmd
build:
  verbosity: minimal
before_package:
- cmd: appveyor-before_package.cmd
deploy:
- provider: Environment
  name: AV Test Releases
  on:
    APPVEYOR_REPO_TAG: true